%header-link-styles{
  color: $tabsColor;
  text-decoration: none;
}

%display-block{
  display: block;
}

%hover{
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .3s;
  }
}